/odele_SSB_USAF_2000_Apr12.txt
/odele_calc_USAF_spotindex_Aug13.pro
/compare_lasp_nrl_sb.pro
/sunspot_blocking_2000-01-01_2000-12-31_v0.10.txt
/sb_diff&ratio_2000_22Oct2014.png
/nrl_differences_tsi.png
/LASP_annual_indices_1610_2014.sav
/irradiance_statistics.pro
/tsi_comp_1882_1889.png
/tsi_comp_1882_2014_daily_v2.png
/tsi_comp_1882_2014_daily.png
/tsi_comp_1882_2014_monthly.png
/tsi_comp_1882_2014_yearly.png
/tsi_vs_group_ssn.pro
/specflux_reader.pro
/ssi_comp_1882_1889.png
/ssi_comp_1882_1909_daily.png
/ssi_comp_1882_1959_monthly.png
/ssi_comp_1882_2014_yearly.png
/ssi_comp_1950_1977_daily.png
/ssi_comp_1960_2014_monthly.png
/historical_tsi_error.pro
/sb_comp_1882_2014_daily.png
/check4dmarsh.pro
/dmarsh_p1.png
/dmarsh_p2.png
/dmarsh_p3.png
/dmarsh_p4.png
/dmarsh.pptx
/compare_lasp_nrl_nrltsi2_v2.pro
