/BAMS_figures
/BAMS_figures
/BAMS_figures
/BAMS_figures
/BAMS_figures
/BAMS_figures_final
/BAMS_abstract_revised.docx
/BAMS_paper_v3_ms.docx
/BAMS_paper_v3 pp.docx
/BAMS_paper_v4_JL.docx
/E&SS_draft_15Jun15.docx
/E&SS_outline.docx
/list_of_repository_files.docx
